body{
    box-sizing: border-box;
    
}
.header_class{
    height: 10vh;
    background-color: #ffffff;
    color: #cccccc;
}

.brand{
    height: 100%;
    width: 30%;
    float: left;
    background-color:#4aaaa5;
    text-align: center;
    vertical-align: middle;

}
.brand h1{
    margin-bottom: -10px;
}

nav{
    float: right;
    margin-top: 15px;
}

nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    
}


.main{
    background-color: #777777;
    border-top: 1px solid #dddddd;
    min-height: 90vh;
    margin: 0px auto;
}

header, .container{
    width: 960px;
    margin: 0 auto;
}

.container{
    background-color: #ffffff;
    height: 90%;
    margin-top: 20px;
    padding: 10px;
}

.bio_image{
    float: left;
    padding-right: 20px;
}

.bio_checkMeOut{
    clear: left;
    padding: 10px;
}

article{
    padding: 30px;
    text-align: justify;
}

hr{
    height: 5px;
    background-color: #666666;
}


footer{
    background-color: #666666;
    height: 40px;
    text-align: center;
    bottom: 0px;
    border-top: 10px solid #4aaaa5;
    


}

textarea, input{
    width: 80%;
    padding: 10px 10px;
}

.submit_btn{
    background-color: #4aaaa5;
    padding: 20px;
}

.img_box{
    width: 200px;
    height: 200px;
    margin:20px;
    float: left;
    position: relative;
}

.img_class{
    width: 100%;
    height: 100%;

}

.img_des{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: #4aaaa5;
    

}


.clearfix::after{
    content: " ";
    clear: both;
    display: table;
}